<div class="container-fluid">
	<div class="row">
	   <div class="col-md-4 mx-auto">
	   	   <div class="url-form">

		   		<label>Enter URL</label>
		   		<input type="url" name="" class="text-input" id="url_input">
		   	<button type="button" class="btn btn-primary sbm" id="submit-btn">Submit</button>
		   	</div>
	   </div>			
	</div>

	<div class="row">
		<div class="col-md-4 mx-auto">
			<div class="">
				<ul id="url" class="">
					<% @urls.each do |u| %>		
					<li><%=u.url%></li>
					<%end%>
				</ul>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	
	$(document).ready(function(){

		var list = $("#url");
		var input = $("#url_input")

		$("#submit-btn").click(function(){
			url = input.val()
			data = {url:url}
			$.ajax({
			    type: "POST",
			    url: "<%=create_url_path()%>",
			    data: JSON.stringify(data),
			    contentType: "application/json; charset=utf-8",
			    dataType: "json",
			    success: function(result){
			       alert(result.status);
			       if (result.status == "ok"){
				       	input.val("");
						list.removeClass("d-none")
						list.prepend("<li>"+url+"</li>");

			       	}else{
			       		input.val("")
			       	}
			    }
			});
		});

	});

</script>